$colorNeon:#ff008c;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a, ul{
    text-decoration: none;
    &:visited{
        color: $colorNeon;
    }
}
li{
    list-style: none;
}

html,body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    header, footer{
            background: #120632;
            text-align: center;
            padding: 5%;
            .superior{
                margin: auto;
                max-width: 400px;
            }
            .nombre{
                font-size: 45px;
            }
            .titulo{
                font-size: 22px;
            }

            .nombre, .titulo{
                color: #fff;
                display: inline;
                padding: 0px;
                transition: 0.1s all;
                &:hover{
                    text-shadow: 0 0 0.5em $colorNeon, 0 0 0.5em $colorNeon, 0 0 0.5em $colorNeon;
                }
            }
        }
    }
    main{          
        .contenedor{
            .proyectos{
                .lista{
                    .proyecto{
                        height: 400px;
                        max-width: 1000px;
                        transition: all 0.2s;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                    .proyecto:nth-child(odd){
                        background: #532d84;
                        text-align: center;
                        margin: 40px 400px 40px 0;
                    }
                    .proyecto:nth-child(even){
                        background: #120632;
                        text-align: center;
                        margin: 0 0 40px 853px;
                    }
                    .caja-trasera{
                        background: #000;
                        text-align: center;
                        margin: 10 100 100 100;
                    }
                }
            }
        }
    }