$colorNeon:#ff008c;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a, ul{
    text-decoration: none;
    &:visited{
        color: $colorNeon;
    }
}
li{
    list-style: none;
}

html,body{
    font-family: 'Poppins', sans-serif;
    background: #532d84;
    height: 100%;
    header, footer{
            background: #120632;
            text-align: center;
            padding: 5%;
            .superior{
                margin: auto;
                max-width: 400px;
            }
            .nombre{
                font-size: 45px;
            }
            .titulo{
                font-size: 22px;
            }

            .nombre, .titulo{
                color: #fff;
                display: inline;
                padding: 0px;
                transition: 0.1s all;
                &:hover{
                    text-shadow: 0 0 0.5em $colorNeon, 0 0 0.5em $colorNeon, 0 0 0.5em $colorNeon;
                }
            }
        }
    }
    main{
        .contenedor{
            max-width: 1000px;
            margin: auto;
            .proyectos{
                .lista{
                    
                }
            }
        }
    }