* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  background: #f3f5fc;
  color: #0a3871; }
  body header .logo {
    margin: 10px;
    display: inline-block; }
    body header .logo h1 {
      padding: 0px 50px 0 50px;
      margin: 0;
      font-size: 50px;
      font-weight: 600; }
  body .contenedor {
    display: flex;
    justify-content: space-between; }
    body .contenedor main {
      width: 80%; }
      body .contenedor main form {
        margin: 0px 0px 0px 150px;
        width: 80%;
        display: inline-block; }
        body .contenedor main form textarea {
          color: #0a3871;
          width: 100%;
          height: 700px;
          max-height: 700px;
          max-width: 100%;
          min-height: 700px;
          min-width: 100%;
          padding: 12px 12px;
          margin: 0;
          background: #e6ebfd;
          border: none;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          font-size: 30px;
          font-weight: 600; }
        body .contenedor main form .advertencias .exclamacion {
          display: inline-block;
          margin-top: 20px;
          margin-right: 10px;
          padding: 3px 10px 3px 10px;
          border-radius: 100%;
          background: #0a3871;
          color: white; }
        body .contenedor main form .advertencias .advertencia {
          display: inline-block; }
        body .contenedor main form .advertencias .dos {
          display: none; }
        body .contenedor main form .botones {
          margin: auto;
          display: flex;
          justify-content: space-between; }
          body .contenedor main form .botones input[type=button] {
            cursor: pointer;
            display: inline-block;
            width: 40%;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #0a3871;
            border-radius: 20px;
            background: #d8dfe8;
            transition: all 0.3s; }
            body .contenedor main form .botones input[type=button]:focus {
              background: #0a3871;
              color: #f3f5fc; }
            body .contenedor main form .botones input[type=button]:hover {
              background: #0a3871;
              color: #f3f5fc; }
    body .contenedor aside {
      width: 500px;
      margin-right: 150px;
      background: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border: none;
      border-radius: 50px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .contenedor aside .contenedor-aside {
        font-size: 30px;
        font-weight: 600;
        display: flex;
        flex-direction: column; }
        body .contenedor aside .contenedor-aside .imagen img {
          display: flex;
          margin: auto;
          padding: 0;
          width: 80%; }
        body .contenedor aside .contenedor-aside .texto {
          color: #2c2c2c;
          padding: 10px;
          margin: auto;
          margin-top: 20px;
          margin-bottom: 0px;
          text-align: center; }
        body .contenedor aside .contenedor-aside .uno {
          font-size: 30px;
          font-weight: 900px; }
        body .contenedor aside .contenedor-aside .dos {
          font-size: 20px;
          font-weight: light; }
        body .contenedor aside .contenedor-aside input[type=button] {
          cursor: pointer;
          display: inline-block;
          width: 100px;
          margin: 20px auto;
          padding: 20px 20px 20px 20px;
          border: 1px solid #0a3871;
          border-radius: 20px;
          background: #d8dfe8;
          transition: all 0.3s;
          font-size: 18px; }
          body .contenedor aside .contenedor-aside input[type=button]:focus {
            background: #0a3871;
            color: #f3f5fc; }
          body .contenedor aside .contenedor-aside input[type=button]:hover {
            background: #0a3871;
            color: #f3f5fc; }

@media screen and (max-width: 1400px) {
  body .contenedor {
    display: inline; }
    body .contenedor main {
      width: 100%; }
      body .contenedor main form {
        width: 90%;
        margin: auto;
        padding: 10px;
        margin-left: 5%;
        margin-right: 5%; }
        body .contenedor main form textarea {
          height: 920px;
          max-height: 920px;
          min-height: 920px; }
    body .contenedor aside {
      margin: auto;
      margin-bottom: 20px;
      padding: 10px;
      width: 80%; }
      body .contenedor aside .imagen {
        display: none; } }

@media screen and (max-width: 800px) {
  body .contenedor main form textarea {
    height: 600px;
    max-height: 600px;
    min-height: 600px; } }
